<section class="login-container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
           <h1>Login</h1>
           <p>Get access to your orders. Wishlist and Recommendation</p>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <form (ngSubmit)="onSubmit()" class="login-form" [formGroup]="loginForm">
                <mat-form-field class="full-width" [ngClass]="{'margin-bottom-10':email?.invalid}">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Eg: abc@mail.com" value="" formControlName="email">
                    <mat-error  *ngIf="email?.invalid">Email is invalid</mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width" [ngClass]="{'margin-bottom-10':password?.invalid}">
                    <mat-label>Password</mat-label>
                    <input matInput value="" formControlName="password">
                    <mat-error *ngIf="password?.invalid">Password must have uppercase, lowercase, speical char and must be 8 char long.</mat-error>
                </mat-form-field>
                <button class="primary-btn" type="submit" [disabled]="!loginForm.valid" mat-button>Login</button>
            </form>
        </div>
    </div>

    
</section>
