

@import "../../assets//scss/abstract/mixin.scss";

.login-container{

    .row{
        padding: 15px 20px;
        @include medium-screen{
            padding: 100px;
        }
    }
    .login-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .full-width {
        width: 100%;
      }

      @include custom-max-width(767px){
        .primary-btn[type='submit']{
          width: 100%;
        }
      }
}

