
<section class="carousal-main">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://localhost:9000/images/offers/offer1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://localhost:9000/images/offers/offer2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://localhost:9000/images/offers/offer3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://localhost:9000/images/offers/offer4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://localhost:9000/images/offers/offer5.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section class="product-category">
    <div *ngFor="let category of categories; let odd=odd; let even=even;" class="each-category" [ngClass]="{'odd':odd, 'even': even}">
        <div class="img-container">
            <img [src]="rootUrl + category.imageUrl" />
        </div>
        <section class="category-container">
            <h2>{{category.name}}</h2>
            <p> {{category.description}}</p>
            <button class="primary-btn" >{{'Explore ' + category.name}}</button>
        </section>
    </div>
</section>
